<li>
    {{task}}

    <button class="complete btn" data-id="{{id}}" data-task="{{complete}}">
        {{#if complete}}Complete{{else if signedOff}}Signed Off{{else}}Not Complete{{/if}}
    </button>


</li>