<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/admin-home/{{token}}">
            <h2>Admin | {{admin.first_name}}</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin-dept/{{token}}">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-role/{{token}}">Roles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#">Employees</a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-4">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="text-center">Employees</h2>
                </div>
                <div class="card-body p-0 h-90">
                    <div id='employee-list'>
                        {{#each users}}
                        <div class="d-flex justify-content-between my-2 p-2 item w-95 mx-auto ">
                            <div data-f_name="{{dataValues.first_name}}" data-l_name="{{dataValues.last_name}}"
                                data-mob="{{dataValues.mobile}}" data-off="{{dataValues.office_number}}"
                                data-email="{{dataValues.email}}" data-rolid="{{dataValues.RoleId}}"
                                class="font-weight-bold" id='user-{{dataValues.id}}'>
                                {{dataValues.first_name}} {{dataValues.last_name}}
                            </div>
                            <div>
                                <a href="#" class="d-inline-block px-2 edit" id="edit-{{dataValues.id}}"><i
                                        class="fas fa-edit"></i></a>
                                <a href="#" class="d-inline-block px-2 text-danger delete"
                                    id='delete-{{dataValues.id}}'><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Employee Manager</h2>
                </div>
                <div class="card-body">

                    <form id="new-user">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last_name">Last Name</label>

                                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>

                            <input type="email" class="form-control" id="inputEmail" placeholder="f_name@abc.com">
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile Number</label>
                            <input type="tel" class="form-control" id="inputMobile" placeholder="04x xxxx xxxx">
                        </div>
                        {{!-- <div class="form-group">
                            <label for="starting_date">Starting Date</label>
                            <input type="datetime-local" class="form-control" id="inputStartingDate" placeholder="">
                        </div> --}}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="office_number">Office Number</label>
                                <input type="text" class="form-control" id="inputOfficeNumber" placeholder="xxxx">

                            </div>
                            <div class="form-group col-md-4">
                                <label for="role">Role</label>
                                <select id="inputRole" class="form-control">

                                    {{#each roles}}
                                    <option value="{{this.dataValues.id}}">{{this.dataValues.title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id='submit'>Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
<script>
    localStorage.setItem("ezPortal", '{{ token }}')
    let toEdit;
    $('#new-user').submit((e) => {

        e.preventDefault();
        if (document.querySelector('#submit').classList.length > 2) {
            $.ajax({
                type: 'put',
                url: `../api/updateuser`,
                headers: {
                    'Authorization': `bearer ${localStorage.getItem('ezPortal')}`
                },
                data: {
                    id: toEdit,
                    f_name: $('#inputFirstName').val().trim(),
                    l_name: $('#inputLastName').val().trim(),
                    email: $('#inputEmail').val().trim(),
                    mob: parseInt($('#inputMobile').val()),
                    off: parseInt($('#inputOfficeNumber').val()),
                    rolid: $('#inputRole').val().trim()
                }
            }).then(() => location.reload())
            $('#submit').removeClass('update');
            return
        }
        $.post({
            url: '/api/createuser',
            headers: {
                'Authorization': `bearer ${localStorage.getItem('ezPortal')}`
            },
            data: {
                f_name: $('#inputFirstName').val().trim(),
                l_name: $('#inputLastName').val().trim(),
                email: $('#inputEmail').val().trim(),
                mob: parseInt($('#inputMobile').val()),
                off: parseInt($('#inputOfficeNumber').val()),
                rolid: $('#inputRole').val().trim()

            }
        }).then(res => location.reload())
    })
    $(document).on("click", ".delete", function (e) {
        e.preventDefault();
        const toDelete = this.id.split('-')[1]
        $.ajax({
            type: 'delete',
            url: `../api/deleteuser/${toDelete}`,
            headers: {
                'Authorization': `bearer ${localStorage.getItem('ezPortal')}`
            },
            data: {
                id: toDelete
            }
        }).then(() => location.reload())

    })
    $(document).on("click", ".edit", function (e) {
        e.preventDefault();
        if (document.querySelector('#submit').classList.length == 2) {
            $('#submit').addClass('update');
        }
        toEdit = this.id.split('-')[1]
        $('#inputFirstName').val(($(`#user-${toEdit}`).attr('data-f_name')))
        $('#inputLastName').val(($(`#user-${toEdit}`).attr('data-l_name')))
        $('#inputEmail').val(($(`#user-${toEdit}`).attr('data-email')))
        $('#inputMobile').val(($(`#user-${toEdit}`).attr('data-mob')))
        $('#inputOfficeNumber').val(($(`#user-${toEdit}`).attr('data-off')))
        $('#inputRole').val(($(`#user-${toEdit}`).attr('data-rolid')))
    });



</script>