<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/admin-home/{{token}}">
            <h2>Admin | {{admin.first_name}}</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin-prof/{{token}}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-dept/{{token}}">Departments</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-user/{{token}}">Employees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="text-center">Roles</h2>
                </div>
                <div id='role-list'>
                    {{#each roles}}
                    <div class="d-flex justify-content-between my-2 p-2 item w-95 mx-auto ">
                        <div data-rate="{{dataValues.hourly_rate}}" data-level="{{dataValues.management_level}}"
                            data-dept="{{dataValues.DeptId}}" class="font-weight-bold" id='role-{{dataValues.id}}'>
                            {{dataValues.title}}
                        </div>
                        <div>
                            <a href="#" class="d-inline-block px-2 edit" id="edit-{{dataValues.id}}"><i
                                    class="fas fa-edit"></i></a>
                            <a href="#" class="d-inline-block px-2 text-danger delete" id=' delete-{{dataValues.id}}'><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="card mb-5">
                <div class="card-header">
                    <h2 class="text-center">Roles Manager</h2>
                </div>
                <div class="card-body">
                    <form id="new-role">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTitle">Title</label>
                                <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputRate">Hourly Rate</label>
                                <input type="number" class="form-control" id="inputRate" step="1" value="25"
                                    placeholder="25.00">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputDepartment">Department</label>
                                <select id="inputDepartment" class="form-control">
                                    {{#each depts}}
                                    <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputManagement">Manager Level</label>
                                <select id="inputManagement" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/adminRoles.js"></script>