<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/user-home/{{jwtToken.token}}">
            <h2>Employee | {{employee.first_name}}</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col-md-5 col-12">
            <div class="card mb-5">
                <div class="card-header">
                    <h2 class="text-center"> My Tasks</h2>
                </div>
                <div class="card-body">
                    <div id='tasks-list'>
                        {{#each tasks}}
                        {{#unless dataValues.approved}}
                        {{#if dataValues.completed}}
                        <div class="d-flex justify-content-between my-2 p-2 itemA w-95 mx-auto ">
                            <div class="font-weight-bold" id='task-{{dataValues.id}}'>
                                {{dataValues.PreDef.dataValues.title}} ||
                                {{this.dataValues.assigned_by.dataValues.first_name}}
                                {{this.dataValues.assigned_by.dataValues.last_name}}
                            </div>

                        </div>
                        {{else}}
                        <div class="d-flex justify-content-between my-2 p-2 item w-95 mx-auto ">
                            <div class="font-weight-bold" id='task-{{dataValues.id}}'>
                                {{dataValues.PreDef.dataValues.title}} ||
                                {{this.dataValues.assigned_by.dataValues.first_name}}
                                {{this.dataValues.assigned_by.dataValues.last_name}}
                            </div>
                            <div>
                                <a href="#" class="d-inline-block px-2 completed text-success"
                                    data-assignedto='{{dataValues.assignedto}}' id="complete-{{dataValues.id}}"><i
                                        class="fas fa-check"></i></a>
                            </div>
                        </div>
                        {{/if}}

                        {{/unless}}
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7 col-12">
            <div class="card mb-5">
                <div class="card-header">
                    <h2 class="text-center">Employee Details</h2>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" value={{employee.first_name}}
                                disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last_name">Last Name</label>

                            <input type="text" class="form-control" id="inputLastName" value={{employee.last_name}}
                                disabled>

                        </div>
                    </div>
                    <div class=" form-group">
                        <label for="email">Email Address</label>

                        <input type="email" class="form-control" id="inputEmail" value={{employee.email}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input type="tel" class="form-control" id="inputMobile" placeholder={{employee.mobile}}
                            disabled>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="office_number">Office Number</label>
                            <input type="text" class="form-control" id="inputOfficeNumber"
                                value={{employee.office_number}} disabled>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="role">Role</label>
                            <select id="inputRole" class="form-control" disabled>

                                <option value={{employee.RoleId}}>{{employee.Role.title}}</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card my-5">
                <div class="card-header">
                    <h3 class="text-center">Change password</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post" id="change-pass">
                        <div class="form-group">
                            <label for="old">Old Password</label> <br>
                            <input class="form-control" type="password" name="old" id="old">
                        </div>
                        <div class="form-group">
                            <label for="new1">New Password</label> <br>
                            <input class="form-control" type="password" name="new1" id="new1">
                        </div>
                        <div class="form-group">
                            <label for="new2">Confirm New Password</label> <br>
                            <input class="form-control" type="password" name="new2" id="new2">
                        </div>
                        <button class="btn btn-primary" type="submit">Change Password</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>




<script type="text/javascript" src="/assets/js/employee.js"></script>
<script>localStorage.setItem("ezPortal", '{{jwtToken.token}}')</script>
<script src="/assets/js/changepass.js"></script>